<% @users.each do |user| %>
    <h1> user list screen of management screen!</h1>
     <div class="admin">
    name: <%= user.name %><br>
    email:<%= user.email %><br>
    title: <%= user.title %><br><br>
    </div>
    
    <% end %>
    