<% @users.each do |user| %>
    <h1> user list screen of management screen!</h1>
     name is : <% user.id %> <%= user.name %><br>
    email:<%= user.email %><br>
    title: <%= user.admin %><br><br>
    
    <% end %>
   
    